SUPABASE_URL=https://zlihidqygautsseqatfq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpsaWhpZHF5Z2F1dHNzZXFhdGZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA2OTY0ODksImV4cCI6MjA2NjI3MjQ4OX0.DzwrDaa-3HIFVlVSImxoHo9Gg8DJz0AfuKdIFPDuR6g
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpsaWhpZHF5Z2F1dHNzZXFhdGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDY5NjQ4OSwiZXhwIjoyMDY2MjcyNDg5fQ.CZy3BKS-PLhy8hCORf0HQewP27IyDp4fp89SvtMnY2s
SECRET_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpsaWhpZHF5Z2F1dHNzZXFhdGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDY5NjQ4OSwiZXhwIjoyMDY2MjcyNDg5fQ.CZy3BKS-PLhy8hCORf0HQewP27IyDp4fp89SvtMnY2s
FLASK_ENV=production 
